:root {
    /* color */
    --color-blue:#4E65F5;
    --color-light-blue:#3C8CDE;
    --color-grey:#C1D1DE;
    --color-dark-grey: #687178;
    --color-red:#E03532;
}

body {
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    height: 100vh;
    font-family: 'Aboreto', cursive;
    font-family: 'DynaPuff', cursive;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Silkscreen', cursive;
}

.home__btn {
    position: absolute;
    top: 24px;
    left: 24px;
    font-size: 24px;
    background: none;
    border: none;
    color: #473757;
    cursor: pointer;
    transition: all 300ms ease-in;
}

.home__btn:hover {
    transform: scale(1.2);
}

h1 {
    font-size: 48px;
}

.topBtn {
    cursor: pointer;
    width: 500px;
    height: 50px;
    font-size: 24px;
    background: none;
    border-radius: 8px;
    color: var(--color-blue);
    padding: 16px 0 46px 0;
    border: 2px solid var(--color-blue);
    transition: all 300ms ease-in;
}

.topBtn:hover {
    background-color: var(--color-blue);
    color: white;
}

.topBtn i {
    color: var(--color-red);
}

.orLine {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0;
    color: var(--color-grey);
}

.orLine__line {
    background-color: var(--color-grey);
    width: 200px;
    height: 1px;
}

.login {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 500px;
    text-align: left;
    color: var(--color-dark-grey);
}

.email,
.password {
    width: 500px;
    height: 36px;
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--color-grey);
    margin-top: 8px;
    padding-left: 8px;
}

.login__btn {
    cursor: pointer;
    width: 500px;
    height: 50px;
    font-size: 24px;
    background: var(--color-light-blue);
    border-radius: 8px;
    color: white;
    padding: 16px 0 46px 0;
    border: none;
    transition: all 300ms ease-in;
}

.login__btn:hover {
    background-color: #3c8dded2;
}

.forgot {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 36px;
}

.forgot span {
    cursor: pointer;
    padding: 8px;
    color: var(--color-light-blue);
}

.bottom__line {
    width: 500px;
    height: 1px;
    background-color: var(--color-grey);
}

.register {
    color: var(--color-dark-grey);
    margin-top: 12px;
}

.register__colored {
    color: var(--color-light-blue);
    cursor: pointer;
}
